header {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}
header h1 {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.To-Do-Item {
    background: gray;
    display: flex;
    flex-direction: row;
}
.To-Do-Item .Item-Text {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.To-Do-Item .Item-Box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.To-Do-Item .Due-Date {
   border-radius: 20px;
   border-style: dashed;
}
.To-Do-Item .Priority {
    border-radius: 20px;
    border-style: dashed;
 }
 .To-Do-Item .Item-Header {
    display: flex;
    flex-direction: row;
 }
 .display-items {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-left: auto;
     height: 50px;
     text-align: center;
     background-color: green;
     border: solid white 1px;
 }

 .To-Do-Item .Item-Header h2 {
   border-bottom: solid black 5px;
 }